.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body-1 {
  color: rgb(0, 0, 0);
  background: rgba(222, 70, 216, 0.2);
}

.body-2 {
  color: rgb(0, 0, 0);
  background: rgba(222, 70, 216, 0.3);
}

.body-3 {
  color: rgb(0, 0, 0);
  background: rgba(222, 70, 216, 0.4);
}

.body-4 {
  color: rgb(0, 0, 0);
  background: #fea9f0;
}

.body-5 {
  color: rgb(0, 0, 0);
  background: #fea9f0;
}

.title-1 {
  width: 30vh;
  font-size: 36px;
}

.Navbar {
  left: 1px;
  top: 10px;
  bottom: 20px;

  background: rgba(255, 255, 255, 0.35);
  border-radius: 15px;
}
